* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: #d8ddd1;
    margin: 0;
    min-height: 100%;
  }
  p {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  /* W3 schools helped me do the image in the background */
  header {
    background-color: #72ab9d;
    /* padding: 20px; */
    margin: 0;
    color: #23534e;
    background-image: url(waves.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  header h1 {
    font-family: "Caprasimo", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 100px;
    margin: 10px;
  }
  
  header p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 40px;
    font-family: "Nunito", sans-serif;
  }
  nav {
    background-color: #23534e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fefbea;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    background-color: #f78a77;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 5px 15px;
  }
  
  .main-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* button .dropbtn {
    background-color: #72ab9d;
    color: #fefbea;
    padding: 10px;
    font-size: 1rem;
    height: auto;
    width: fit-content;
    margin: 5px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  } */
  
  .dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  
  .dropdown .dropdown-content {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    font-family: "Nunito", sans-serif;
    font-size: 0.75rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: auto;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-between;
    padding: 10px;
    margin: 10px;
  }
  
  .buttons button{
      background-color: #72ab9d;
      color: #fefbea;
      padding: 10px;
      font-size: 1rem;
      font-family: "Nunito", sans-serif;
      margin: 5px;
      border-radius: 5px;
      border: 0;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .buttons .plan {
    background-color: #f78a77;
    color: #fefbea;
    padding: 10px;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .plan:hover{
          -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
                  animation: pulsate-fwd 0.5s ease-in-out infinite both;  
  }
  
  .site-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
  }
  
  .site-info p {
    font-size: 1rem;
    margin: 5px;
    color: #23534e;
  }
  
  .site-info h2 {
    font-family: "Caprasimo", serif;
    font-size: 2.5rem;
    color: #23534e;
    margin: 5px;}
  
  .footer {
    width: 100%;
    background-color: #23534e;
    color: #d8ddd1;
    padding: 20px;
    bottom: 0;
    position: relative;
  }
  
  .footer footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    width: 100%;
  }
  
  .footer p {
    font-family: "Nunito", sans-serif;
    font-size: 0.75rem;
    margin: 15px;
  }

  /* grid stuff */
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 900px;
    height: 500px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3;
        background-image: url("/pigs_wide_2.jpg");
        background-size: cover;
        background-position: center;
        }
    .div2 { grid-area: 2 / 1 / 3 / 3; 
        background-image: url("/pigs_wide_3.jpg");
        background-size: cover;
        background-position: center;
        
        }
    .div3 { grid-area: 1 / 3 / 3 / 4; 
        background-image: url("/pigs_tall.jpg");
        background-size: cover;
        background-position: center;
        }
    .div4 { grid-area: 1 / 4 / 3 / 5; 
        background-image: url("/pigs_tall_2.jpg");
        background-size: cover;
        background-position: center; }

    @media (max-width: 900px) {
        .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 500px;
        height: 900px;
        }
        .div1 { grid-area: 1 / 1 / 2 / 3;}
        .div2 { grid-area: 2 / 1 / 3 / 3; }
        .div3 { grid-area: 3 / 1 / 5 / 1;}
        .div4 { grid-area: 3/ 2 / 5 / 3; }
    }
    
    @media (max-width: 500px) {
        .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 400px;
        height: 800px;
        }
        .div1 { grid-area: 1 / 1 / 2 / 3;}
        .div2 { grid-area: 2 / 1 / 3 / 3; }
        .div3 { grid-area: 3 / 1 / 5 / 1;}
        .div4 { grid-area: 3/ 2 / 5 / 3; }
    }

    @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
    
    
    